{% extends "base.html" %}
{% block content %}
<div class="row">
  <header>
    <h1>{{ term.name }}</h1>
  </header>
  <div class="d-grid gap-3">
    {% for page in term.pages %}
    <section>
      <header>
        <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
        <span>
          {{ page.date | date(format="%b %e, %Y") }} &middot;
          {{ page.reading_time }} minute read
        </span>
      </header>
      {% if page.description %}<p>{{ page.description }}</p>{% endif %}
      <a class="no-underline" href="{{ page.permalink }}">Read full entry &rarr;</a>
    </section>
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block stats_title %}{{ term.name }}{% endblock stats_title %}
