@import url(https://fonts.googleapis.com/css?family=Artifika|Roboto|Roboto+Slab);

body {
  font: 400 17px/25px 'Roboto', sans-serif;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url("../images/grey.png");
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
}

.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
} 

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

#painting {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  -webkit-border-radius: 8px;
  height: 150px;
  background: url("../images/background.jpg") no-repeat;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
}

h1, h2, h3, h4 {
  font-family: 'Artifika', serif;
  font-weight: 400;
  color: #A60000;
}

a {
  color: #ff4040;
}

a:hover {
  color: #008500;
}

table th {
  text-align: right;
  padding-right: 1.5em;
}

.pagination > li > a,
.pagination > li > span {
  color: #ff4040;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #008500;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ff4040;
  border-color: #ff4040;
}

section.list-group-item {
  text-align: center;
  background-color: transparent;
  border: none;
}

article img {
  display: block;
  margin: auto;
}
