{{ partial "header.html" . }}
<body>
  <div class="container">
  {{ partial "page_header.html" . }}
  <div class="row">
    <div class="col-lg-12">
      {{ range .Paginator.Pages }}
  
       <article>
          <header>
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <span class="post-date">{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
          </header>
          <p>{{ .Description }}</p>
          <a href="{{ .Permalink }}">Read full entry &rarr;</a>
       </article>
      {{ end }}
      {{ template "_internal/pagination.html" . }} 
    </div>
  </div>
{{ partial "footer.html" . }}
