{{ partial "header.html" . }}
<body>
  <div class="container">
  {{ partial "page_header.html" . }}
  <div class="row">
    <div class="col-lg-12">
      {{ range .Paginator.Pages }}
       <article>
          <header>
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <span>{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read</span>
          </header>
          <p>{{ .Description }}</p>
          {{ partial "taxonomy.html" . }}
          <a href="{{ .Permalink }}">Read full entry &rarr;</a>
       </article>
      {{ end }}
      {{ template "_internal/pagination.html" . }} 
    </div>
  </div>
{{ partial "footer.html" . }}
