{{ partial "header.html" . }}
<body>
  <div class="container">
  {{ partial "page_header.html" . }}
  <div class="row">
    <article class="col-lg-12">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </article>
  </div>
{{ partial "footer.html" . }}
