<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "meta.html" }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
</head>
