<nav>
  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="/"><i class="fa fa-home"></i></a></li>
    <li role="presentation"><a href="/blog/">Blog</a></li>
    <li role="presentation"><a href="/projects/">Projects</a></li>
    <li role="presentation"><a href="https://github.com/eriol">Code</a></li>
  </ul>
</nav>
