{{ if (or .Params.categories .Params.tags) }}
 <ul class="list-unstyled">
     {{ if .Params.categories }}
      <li>
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;
        Categories:
        {{ range .Params.categories }}
          <a href="/categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </li>
     {{ end }}
     {{ if .Params.tags }}
      <li>
        {{ range .Params.tags }}
          <a href="/tags/{{ . | urlize }}">
            <span class="label label-default">#{{ . }}</span>
          </a>
        {{ end }}
      </li>
     {{ end }}
 </ul>
{{ end }}
