<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "meta.html" }}
  <title>{{ .Title }}</title>
</head>
<body>
  <div class="container">
{{ partial "page_header.html" . }}
<div class="row">
  <div class="col-lg-12">
    <section>
      <header>
        <h3>Elen síla lúmenn' omentielvo!</h3>
      </header>
        <p>
          The Road goes ever on and on<br />
          Down from the door where it began.<br />
          Now far ahead the Road has gone,<br />
          And I must follow, if I can,<br />
          Pursuing it with weary feet,<br />
          Until it joins some larger way,<br />
          Where many paths and errands meet.<br />
          And whither then? I cannot say.
        </p>
        <p style="margin-left: 200px;">JRR Tolkien</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <section>
      <header>
        <h3>Contact Me</h3>
      </header>
      <table>
        <tbody>
          <tr>
            <th>Email</th>
            <td>
              <a title="Personal Email" href="mailto:eriol@mornie.org">eriol@mornie.org</a>
            </td>
          </tr>
          <tr>
            <th>OpenPGP</th>
            <td>
              <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x8BAF522C0D6CCEDD">0D6CCEDD</a>
              <small><a href="http://pgp.cs.uu.nl/stats/0D6CCEDD.html">(stats)</a></small>,
              <a href="https://keybase.io/eriol">keybase.io/eriol</a>
            </td>
          </tr>
          <tr>
            <th>Code</th>
            <td>
              <a title="GitHub" href="https://github.com/eriol">github.com/eriol</a>,
              <a title="GitLab" href="https://gitlab.com/eriol">gitlab.com/eriol</a>,
              <a title="Bitbucket" href="https://bitbucket.org/eriol">bitbucket.org/eriol</a>,
              <a title="Launchpad" href="http://launchpad.net/~eriol.v">lp:~eriol.v</a>
            </td>
          </tr>
          <tr>
            <th>Social</th>
            <td>
              <a title="Twitter" href="https://twitter.com/eriol_v">twitter.com/eriol_v</a>,
              <a title="Identi.ca" href="https://identi.ca/eriol">identi.ca/eriol</a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
{{ partial "footer.html" . }}
