{{ partial "header.html" . }}
<body>
  <div class="container">
{{ partial "page_header.html" . }}
<div class="row">
  <div class="col-lg-12">
    <section>
      <header>
        <h3>Elen síla lúmenn' omentielvo!</h3>
      </header>
        <p>
          The Road goes ever on and on<br />
          Down from the door where it began.<br />
          Now far ahead the Road has gone,<br />
          And I must follow, if I can,<br />
          Pursuing it with weary feet,<br />
          Until it joins some larger way,<br />
          Where many paths and errands meet.<br />
          And whither then? I cannot say.
        </p>
        <p style="margin-left: 200px;">JRR Tolkien</p>
  </div>
</div>
{{ partial "footer.html" . }}
