<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config.title }}</title>
    {% if config.generate_feed %}
      <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endif %}
    <link rel="stylesheet" href="/site.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar nav-pills">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">
            <a class="nav-link " href="/">mornie.org</a>
          </span>
          <div class="d-flex">
            <a class="nav-link" href="/blog/">Blog</a>
            <a class="nav-link" href="https://noa.mornie.org/eriol">Code</a>
          </div>
        </div>
      </nav>
      <div id="painting"></div>
      {% block content %}{% endblock %}
      <hr />
      <footer>
        <p>Copyright &copy; 2007-2021 Daniele 'eriol' Tricoli</p>
        <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
      </footer>
    </div>
  </body>
</html>
