{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ super() }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="d-grid gap-4">
    {% for page in paginator.pages %}
      <section>
        <header>
          <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
          <span>
            {{ page.date | date(format="%b %e, %Y") }} &middot;
            {{ page.reading_time }} minute read
          </span>
        </header>
        {% if page.description %}<p>{{ page.description }}</p>{% endif %}
        {% if page.taxonomies.categories or page.taxonomies.tags %}
          <ul class="list-unstyled">
            {% if page.taxonomies.tags %}
              <li>
                Tags:
                {% for tag in page.taxonomies.tags %}
                    <span class="badge bg-secondary">
                      <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">
                        #{{ tag }}
                      </a>
                    </span>
                {% endfor %}
              </li>
            {% endif %}
          </ul>
        {% endif %}
        <a class="no-underline" href="{{ page.permalink }}">Read full entry &rarr;</a>
      </section>
    {% endfor %}
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <nav id="footer-nav" aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item">
          <a href="{{ paginator.first }}" class="page-link" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
        </li>
        <li class="page-item{% if not paginator.previous %} disabled{% endif%}">
          <a {%if paginator.previous%}href="{{ paginator.previous }}"{% endif%} class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {% for i in range(end=paginator.number_pagers) %}
          <li class="page-item{% if loop.index == paginator.current_index %} active{% endif %}">
            <a class="page-link" href="{{ paginator.base_url ~ loop.index ~ '/' }}">{{ loop.index }}</a>
          </li>
        {% endfor %}
        <li class="page-item{% if not paginator.next %} disabled{% endif%}">
          <a {%if paginator.next%}href="{{ paginator.next }}"{% endif%} class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
        <li class="page-item">
          <a href="{{ paginator.last }}" class="page-link" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock content %}
