{% extends "base.html" %}

{% block content %}
<div class="row">
  <section>
    <header>
      <h1>Elen síla lúmenn' omentielvo!</h1>
    </header>
    <figure class="quote">
      <blockquote class="blockquote">
        <p>
          The Road goes ever on and on<br />
          Down from the door where it began.<br />
          Now far ahead the Road has gone,<br />
          And I must follow, if I can,<br />
          Pursuing it with weary feet,<br />
          Until it joins some larger way,<br />
          Where many paths and errands meet.<br />
          And whither then? I cannot say.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer">J. R. R. Tolkien</figcaption>
    </figure>
  </section>
</div>
<div class="row">
  <section>
    <header>
      <h2>Latest posts from my blog</h2>
    </header>
    <ul>
      {% set section = get_section(path="blog/_index.md") %}
      {% for page in section.pages %}
          <li>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>,
            posted on {{ page.date | date(format="%b %e, %Y") }}
          </li>
          {% if loop.index >= 5 %}
            {% break %}
          {% endif %}
      {% endfor %}
    </ul>
  </section>
</div>
<div class="row">
  <section>
    <header>
      <h2>Contact Me</h2>
    </header>
    <dl class="row">
      <dt class="col-sm-2">Email</dt>
      <dd class="col-sm-10">
        <a title="Personal Email" href="mailto:eriol@mornie.org">eriol@mornie.org</a>
      </dd>
      <dt class="col-sm-2">OpenPGP</dt>
      <dd class="col-sm-10">
        <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x8BAF522C0D6CCEDD">0D6CCEDD</a>
        <small><a href="http://pgp.cs.uu.nl/stats/0D6CCEDD.html">(stats)</a></small>
      </dd>
      <dt class="col-sm-2">Social</dt>
      <dd class="col-sm-10">
        <a title="Pleroma" href="https://pleroma.debian.social/eriol">pleroma.debian.social/eriol</a>
      </dd>
    </dl>
  </section>
</div>
{% endblock content %}
