---
import '../styles/site.scss';

interface Props {
  title?: string;
}

const siteTitle = "Daniele 'eriol' Tricoli Website";
const { title = siteTitle } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml">
    <link rel="me" href="https://mitra.mornie.org/@eriol">
  </head>
  <body>
    <div class="container">
      <div class="col-8 offset-2">
        <nav class="navbar nav-pills">
          <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">
              <a class="nav-link" href="/">mornie.org</a>
            </span>
            <div class="d-flex gap-3">
              <a class="nav-link" href="/blog/">blog</a>
              <a class="nav-link" href="https://noa.mornie.org/eriol" target="_blank" rel="noreferrer">code</a>
              <a class="nav-link" href="/atom.xml">rss</a>
            </div>
          </div>
        </nav>
        <hr class="no-top-margin">
        <slot />
        <hr>
        <footer>
          <p>Copyright &copy; 2006-2026 Daniele 'eriol' Tricoli</p>
          <p>
            This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
